#Navbar{
    border: 2px solid red;
    height: 150px;
}
ul{
    
}

ul li{
    display: inline;
    list-style: none;
}

ul li a{
    text-decoration: none;
    margin: 0 10px;
}

.Navbar.top{

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.Navbar.top input{
    width: 282px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(207, 205, 211);
    padding: 5px;
    margin-top: 0px;
    margin-right: 0px;
}

#btn{
    background-color: black;
    width: 80px;
    height: 41px;
    padding: 10px;
    margin-left: 0px;
    /* margin-top: 10px; */
}
#btn img{
    height: 20px;
    ;
}
#Navbar::before{
    background: black;
    z-index: -1;
}
.any {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
}

/* navbottom  */

.Navbar.bottom{
    border: 1px solid rgb(185, 185, 185);
}

.first{
    height: 500px;
    width: 1000px;
    background: url(img/background/carA.jpg) no-repeat no-repeat center;
}

